//fonts
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&family=Yeseva+One&display=swap");

//color
$primary: #1f2b6c;
$accent: #bfd2f8;
$secondary: #159eec;
$background: #e5e5e5;
$black: #212124;
$white: #fcfefe;

//tags

$my-display-1: 48px;
$my-body: 16px;
$my-btn: 14px;
$my-caption: 18px;
$my-small: 14px;
$my-display-2: 32px;
$my-body-2: 18px;
$my-title: 26px;
