@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&family=Yeseva+One&display=swap");
.hero {
  height: 250px;
  background-size: cover;
}
.hero .text-title--sub {
  text-transform: capitalize;
  color: #1f2b6c;
  font-weight: normal;
}

#about .hero {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%), url("../images/banner-1.png");
}
#about #introduce {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
#about #introduce .section__image {
  flex: 0.4;
  height: 100%;
}
#about #introduce .section__image img {
  height: 100%;
  max-height: none;
}
#about #introduce .section__content--main {
  flex: 0.6;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
#about #introduce .section__content--main .text-title {
  text-align: left;
}
#about #introduce .section__content--main .text-title--main {
  font-size: 32px;
  max-width: 446px;
  text-align: left;
  margin: 0;
}
#about #introduce .section__content--main .text-title h2 {
  font-weight: normal;
}
#about #introduce-2 {
  background-image: linear-gradient(to bottom, rgba(31, 43, 108, 0.6) 0%, rgba(31, 43, 108, 0.6) 100%), url("../images/banner-2.png");
  background-size: cover;
}
#about #introduce-2 .card {
  color: #fcfefe;
  max-width: 660px;
  border: none;
  margin: 0 auto;
  padding: 64px 0;
}
#about #introduce-2 .card__icon {
  text-align: center;
  margin-bottom: 40px;
}
#about #introduce-2 .card__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}
#about #introduce-2 .card__content hr {
  width: 220px;
  margin: 0 auto;
  height: 2px;
}

#services .hero {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%), url("../images/banner-3.png");
}
#services .services-main .row {
  gap: 20px;
}
#services .services-main .card {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
#services .services-main .card__image {
  flex: 1;
  position: relative;
}
#services .services-main .card__image img {
  height: 100%;
}
#services .services-main .card__image i {
  position: absolute;
  right: 20px;
  bottom: -40px;
}
#services .services-main .card__content {
  flex: 1;
  padding: 32px 20px;
}
#services .services-main .card__content--title {
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 30px;
  color: #1f2b6c;
  margin-bottom: 8px;
}
#services .services-main .card__content .section__navigation {
  justify-content: left;
  margin-top: 16px;
  font-size: 16px;
}
#services #single-service {
  display: flex;
  flex-direction: row;
}
#services #single-service .card {
  border-radius: 5px 5px 0 0;
}
#services #single-service .card__item {
  display: flex;
  gap: 10px;
  padding: 24px 32px;
}
#services #single-service .text-title {
  font-size: 32px;
  color: #1f2b6c;
  text-align: left;
  font-family: "Yeseva One";
  margin: 30px 0 24px;
}

#contact-page .hero {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%), url("../images/hero-doctors.png");
  transform: scaleX(-1);
}
#contact-page .hero .container {
  transform: scaleX(-1);
}
#contact-page .contact {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 128px;
}
#contact-page .contact > * {
  flex: 1;
}
#contact-page .contact__submit .text-title {
  text-align: left !important;
  margin: 0 !important;
}
#contact-page .contact__submit .section__title {
  margin-bottom: 32px;
  padding: 0;
}
#contact-page .contact__submit .col-lg-6:first-child {
  border-right: 1px solid #bfd2f8;
}
#contact-page .contact__info {
  display: flex;
  gap: 20px;
}
#contact-page .contact__info > * {
  flex: 1;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
#contact-page .contact__info .card__item {
  background-color: #bfd2f8;
  flex: 1;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  justify-content: center;
  gap: 10px;
  color: #1f2b6c;
  min-width: 233px;
  font-size: 16px;
}
#contact-page .contact__info .card__item__title {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#contact-page .contact__info .card__item__title p:first-child {
  text-transform: uppercase;
  font-weight: bold;
}
#contact-page .contact__info .card__item:hover {
  background-color: #1f2b6c;
  color: #bfd2f8;
}

#appointment .hero {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%), url("../images/banner-4.png");
}
#appointment .book-appointment {
  display: flex;
  flex-direction: row;
}
#appointment .book-appointment > * {
  flex: 1;
}
#appointment .card {
  padding: 50px;
  background-color: #1f2b6c;
  color: #bfd2f8;
}
#appointment .card__title {
  font-family: "Yeseva One";
  font-size: 32px;
  margin-bottom: 50px;
}
#appointment .card__title h2 {
  font-weight: normal;
  line-height: 55px;
}
#appointment .card__content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
#appointment .row--custom {
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
}
#appointment .row--custom > * {
  white-space: nowrap;
}
#appointment .row--custom p {
  width: 100px;
}
#appointment .row--custom div {
  flex: 0;
}
#appointment .row--custom span {
  width: 170px;
}
#appointment hr {
  width: 330px;
  margin: 0 auto;
}
#appointment .info-web__item {
  justify-content: center;
  gap: 10px;
  align-items: center;
  margin-bottom: 15px;
}
#appointment .info-web__item p {
  text-transform: capitalize;
  color: #bfd2f8;
  font-size: 26px;
  font-weight: 500;
  line-height: 30px;
}
#appointment .info-web__item--icon {
  width: 50px;
  height: 50px;
}

#news .hero {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%), url("../images/service-2.png");
  background-position-y: 25%;
}
#news .aside {
  width: 315px;
  min-width: 315px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
#news .aside .card {
  flex-direction: column;
  padding: 20px;
}
#news .aside .card__title {
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 37px;
  color: #1f2b6c;
  margin-bottom: 24px;
}
#news .aside .card .card__content {
  width: 100%;
}
#news .section--main {
  flex: 1;
}
#news .section__image img {
  max-height: none;
}

.slip-screen {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.article {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.article__item {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.article__item__img {
  flex: 0.25;
  border-radius: 5px;
  overflow: hidden;
  width: 60px;
  height: 60px;
}
.article__item__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.article__item__text {
  flex: 0.75;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  gap: 5px;
}
.article__item__text--date {
  color: #159eec;
  font-size: 12px;
}

/*# sourceMappingURL=components.css.map */
